import(graphics)
import(seriation)
import(stats)
export(corrgram)
export(panel.bar)
export(panel.conf)
export(panel.density)
export(panel.ellipse)
export(panel.minmax)
export(panel.minmax)
export(panel.pie)
export(panel.pts)
export(panel.shade)
export(panel.txt)
